#root {

  display: grid;
  height: 200px;
  grid-template-areas: "head head"

                       "nav nav"

                       "main main"

                       "footer  footer";

  /*grid-template-rows: 30px 60px 1fr 30px;*/
  grid-template-columns: 150px 1fr;

}



header {

  grid-area: head;
  background-color: lightsalmon;

}




main {

  grid-area: main;

}



 footer {

  grid-area: footer;
  background-color: #495E57;
  color: #EDEFEE;

}